html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: $light; //itau
}

.card-header{
  background-color: $primary-80;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  body {
    font-size: .875rem;
  }
}
