html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: $primary-80;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  body {
    font-size: .875rem;
  }
}

.multiselect .multiselect__option--highlight {
  background-color: $primary-100;
}

.multiselect .multiselect__option--selected.multiselect__option--highlight {
  background-color: $primary-100;
}
